<!DOCTYPE html>
<html>
  <link href="../assets/stylesheets/login.css" rel="stylesheet">
  <title>Travelling</title>


  <div class="form" id="form" align="center">
	  <h1>Log in</h1>
	  <form class="login-form">
		  <div class="container">
			  <div id="table">
				  <div id="text">
					  <input type="text" placeholder="Email"><div style="margin-top:5px;"/>
					  <input type="password" name="password" placeholder="Password"><div style="margin-top:5px;"/>
					</div>
				  <div></div>
				  <div id="rem">
					<input type="checkbox" name="remember"> Remember me</div><div style="margin-top:5px;"/>
				  <div></div>
			<button type="submit" id="login">Log in</button>
			  <div id="sign" align="justify">
				<a href="#">Sign Up</a> |
				<a href="#">Forgot your password?</a> |
				<a href="#">Sign in with Facebook</a>
			  </div>
			</div>
		  </div>
	</form>
  </div>
</html>

