<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../assets/stylesheets/signup.css" type="text/css"/>
	</head>
	<title>Travelling</title>
	<div align="center">
	<form id="form">
			<div id="divform">
			<h1>Sign Up</h1>
			<div class="container">
				<label for="e-mail"><b>Email</b></label><br/>
				<input type="text" required><br/>
				<label for="psw"><b>Password</b></label><br/>
				<input type="password" name="psw" required><br/>
				<label for="psw"><b>Password confirmation</b></label><br/>
				<input type="password" name="psw" required><br/><br/>
				<button type="submit" id="signup">Sign up</button><br/><br/>
			</div>
			<div>
				<a href="#">Log in</a>
				<a href="#">Sign in with Facebook</a>
			</div>
			</div>
	</form>
	</div>
	

</html>