<html>
<link href="../../assets/stylesheets/login.css" rel="stylesheet">
<p></p>
<title>Travelling</title>
<h1></h1>
<div calss="top">
    <h1>Hai delle domande o bisogno di supporto ?</h1>
    <p>Se necessiti di aiuto o semplicemente di informazioni puoi contattarci a questa mail: travelhelp@gmail.com</p>
    <h1> Credi di essere in grado di far parte del team?</h1>
    <p>Puoi contattarci per discutere del tuo inserimento nel nostro team a questa mail: jointravel@gmail.com . 
        Ti preghiamo di specificare le tue conoscenze all'interno della mail il più dettagliatamente possibile, ricordati di indicare inoltre le tue eventuali referenze!
    </p>
    <h1>Info</h1>
    <p>
        Questa piattaforma è stata creata per permettere a chi ama viaggiare di trovare e apprezzare luoghi sconosciuti che spesso negli itinerari di viaggio
        standard non vengono inclusi.
        Infatti grazie al vostro aiuto stiamo cercando di creare una community sempre più grande! perchè?
        perchè voi stessi potete far scoprire questi posti a gli altri utenti, navigando sul sito sarete in grado di inserire, modificare e recensire dei posti scegliendo addirittura 
        il vostro preferito.
        Se possedete quindi un'attività o semplicemente conoscete un posto che secondo voi bisognerebbe assolutamente visitare, potrete inserirlo e descriverlo su questa piattaforma.
        Avrete inoltre la possibilità di modificare il vostro profilo e inserire un'immagine per farvi conoscere.

    </p>
</div>
</html>