<h1 style = 'text-align:center'><strong>Travel with US!</strong></h1><br>
    <div id="search">
    <input type="email" id="inputEmail" class="form-control" placeholder="Find a place" required="" autofocus="">
    </div>
    <div class="box">
        <div align="center">
            <h1>Top Places</h1><br/>
            <div class="boxphoto">
                <%= image_tag("/assets/tonnarello.jpg") %>
                <h3>Tonnarello</h3>
                <p>Rome</p>
            </div>
            <div class="boxphoto">
                <%= image_tag("/assets/cappella_sistina.jpg") %>
                <h3>Cappella Sistina</h3>
                <p>Rome</p>
            </div>
            <div class="boxphoto">
                <%= image_tag("/assets/duomo.jpg") %>
				<h3>D'Uomo</h3>
                <p>Milano</p>
            </div>
            <div class="boxphoto">
                <%= image_tag("/assets/Sorbillo.jpg") %>
				<h3>Sorbillo</h3>
                <p>Napoli</p>
            </div>
        </div>
    </div>

    <div class="boxp">
        <div class="title">
            <h1>Top Users</h1>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic03.jpg">
            <h3>Magna</h3>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic04.jpg">
            <h3>Ipsum</h3>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic05.jpg">
            <h3>Tempus</h3>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic06.jpg">
            <h3>Dolore</h3>
        </div>

    </div>
    
<div class="last">
    <div  class="combo ralign social">
        <a href="#"> <i class="fa fa-facebook " aria-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-twitter " aria-hidden="true"></i> </a>
    </div>
</div>

