<!DOCTYPE HTML>
<html>
	<head>
		<link href="../../assets/stylesheets/Homepage.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
	</head>
	<body>
		<div class="banner">
			<div class="topnav">
				<div class="text ttitle"><a href="#">Travel</a></div>
				
				<div class="text nav ralign">
					<a href="#" >Profile</a>
					<a href="#" >My Reviews</a>
					<a href="#" >Help</a>
					<a href="#" >Report</a>
				</div>
			</div>
		  <h1><strong>Travel</strong></h1><br>
		  <div id="search">
				<input type="email" id="inputEmail" class="form-control" placeholder="Find a place" required="" autofocus="">
			</div>
		</div>
		<div class="box">
			<div align="center">
				<h1>Top Places</h1><br/>
				<div class="boxphoto">
					<img src="../../assets/images/Places/tonnarello.jpg">
					<h3>Tonnarello</h3>
					<p>Rome</p>
				</div>
			  <div class="boxphoto">
					<img src="../../assets/images/Places/cappella sistina.jpg">
					<h3>Cappella Sistina</h3>
				  	<p>Rome</p>
				</div>
			  <div class="boxphoto">
					<img src="../../assets/images/Places/duomo.jpg">
				<h3>D'Uomo</h3>
				  <p>Milano</p>
				</div>
			  <div class="boxphoto">
					<img src="../../assets/images/Places/Sorbillo.jpg">
				<h3>Sorbillo</h3>
				  <p>Napoli</p>
				</div>
			</div>

		</div>

		<div class="boxp">
			<div class="title">
			  <h1>Top Users</h1>
			</div>
			<div class="boxphoto">
				<img src="https://templated.co/items/demos/theory/images/pic03.jpg">

				<h3>Magna</h3>
</div>
			<div class="boxphoto">
				<img src="https://templated.co/items/demos/theory/images/pic04.jpg">


				<h3>Ipsum</h3>
</div>
			<div class="boxphoto">
				<img src="https://templated.co/items/demos/theory/images/pic05.jpg">

				<h3>Tempus</h3>
</div>

			<div class="boxphoto">
				<img src="https://templated.co/items/demos/theory/images/pic06.jpg">

				<h3>Dolore</h3>
</div>

		</div>
<div class="last">
<div  class="combo ralign social">
	  <a href="#"> <i class="fa fa-facebook " aria-hidden="true"></i> </a>
	  <a href="#"> <i class="fa fa-twitter " aria-hidden="true"></i> </a>
	</div>

		</div>


	</body>


</html>