<html>
<link href="../../assets/stylesheets/login.css" rel="stylesheet">
<title>Travelling</title>
<h1></h1>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a style="color: black" class="navbar-brand" href="#">Traveling</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>MyReviews</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>help</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Report</a>
                </li>
        </div>
    </nav>
</div>
<form>
    <div class="container">
        <label for="place"><b>Find a place</b></label>
        <input type="text" placeholder="place" name="place..." required>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
    </div>
    <div>
        <a href="#">Are you a owner?Enter your Place</a>
    </div>
</form>
<div calss="left">
    <h1>Top places</h1>
    <div class="grid-container">
        <div class="grid-item">
            <h3>1.Place1</h3>
        </div>
        <div class="grid-item">
            <h3>2.Place2</h3>
        </div>
        <div class="grid-item">
            <h3>3.Place3</h3>
        </div>
    </div>
</div>
<div class="right">
        <h1>Top Users</h1>
    <div class="grid-container">
        <div class="grid-item">
            <h3>1.User1</h3>
        </div>
        <div class="grid-item">
            <h3>2.User2</h3>
        </div>
        <div class="grid-item">
            <h3>3.User3</h3>
        </div>
    </div>
</div>

</html>