<html>
<link href="../../assets/stylesheets/login.css" rel="stylesheet">
<title>Travelling</title>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a style="color: black" class="navbar-brand" href="#">Traveling</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>MyReviews</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>help</a>
                </li>
                <li class="nav-item active">
                    <a class="dropbtn" href='#'>Report</a>
                </li>
        </div>
    </nav>
</div>
<div>
    <h1>Insert place</h1>
</div>
<form>
    <div class="left">
        <div class="container">
            <label for="Name"><b>Name</b></label>
            <input type="text" placeholder="Name" name="Name..." required>
        </div>
        <label for="Street"><b>Street</b></label>
        <input type="text" placeholder="Street" name="Street..." required>
    </div>
    <label for="City"><b>City</b></label>
    <input type="text" placeholder="City" name="City..." required>
    </div>
    <label for="place"><b>Telephone number</b></label>
    <input type="text" placeholder="Number" name="Number..." required>
    </div>
    </div>
    <div class="right">
         da inserire img con ruby 
        <label for="Description"><b>Description</b></label>
        <input type="textarea" placeholder="Description" name="Description..." required>
        <label for="Description"><b>Notices</b></label>
        <input type="textarea" placeholder="Notices" name="Notices..." required>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Insert</button>
    </div>
</form>

</html>