<!DOCTYPE html>
<html>

<head>
	
		<link href="../../assets/stylesheets/find_route.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	</head>
	
<body>
	
	<div class="banner">
		<div class="topnav">
			<div class="text ttitle"><a href="#">Travel</a></div>
			<div class="text nav ralign">
				<a href="#" >Profile</a>
				<a href="#" >My Reviews</a>
				<a href="#" >Help</a>
				<a href="#" >Report</a>
			</div>
		</div>
	  <h1><strong>Find Route</strong></h1><br>
	</div>
	
	<div class="box">
		
		<div id="boxfrom">
	
			<h2>From</h2>
			<input class="form-control">
			<br/>
			<div align="justify" id="radio0">
					<input type="radio" checked value="Car" name="from"/><b>  Car</b><br/>
					<input type="radio" value="Public Transport" name="from"/><b>  Public Transport</b>
			</div>
			
			</div>
	
	</div>
	<div class="last">
		<div  class="combo ralign social">
		  <a href="#"> <i class="fa fa-facebook " aria-hidden="true"></i> </a>
		  <a href="#"> <i class="fa fa-twitter " aria-hidden="true"></i> </a>
		</div>
	</div>
	
	</body>

</html>