@charset "utf-8";
/* CSS Document */

body { 
	min-width:200px; margin: 0 auto; font-family: 'Raleway', sans-serif;
	background-image: url("../../images/dark.jpg") !important;
	background-size: cover; 
	background-attachment:fixed; 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.banner { height: 400px; display:block; padding-top:70px; }
.topnav { width:80%; min-width:200px; margin:0 auto; display:block;  }
.text { display:inline-block; width:49%; margin:0 auto; }
.text.ttitle a { text-decoration:none; color:#fff; font-size:11pt; font-weight:bold; }
.text.nav { min-width:200px; }
.text.nav a { text-decoration:none; color:#d4e0ef; font-size:9pt; font-weight:bold;  padding:6px; }
.text.nav a:hover { color:#fff; } 
.banner h1 {
    text-decoration: none;
    color: #fff;
    font-size: 40pt;
    font-weight: lighter;
    /* [disabled]width: 80%; */
    /* [disabled]min-width:200px; */
    text-align: center;
    padding-top: 85px;
}
.banner p { color:#d4e0ef; font-size:10pt; font-weight:bold; text-align:center;width:80%; min-width:200px; display:block; margin:0 auto; padding: 20px;  }
.box { background: white; display:block; padding:5%; }
.line { border-left:1px solid lightgray; }
.box3 { margin:0 auto; width:28%; min-width:200px ; display: inline-block; padding: .5% 2.5%; padding-bottom: 50px;}
.box3 h1{ font-weight:normal; font-size:16pt; margin:0 auto;  color:#5385c1; }
.box3 p{ color:#9a9a9a; font-size:11pt; margin-bottom:30px; margin-top:20px; }
.boxp{ background:rgba(83,133,193,0.8); display: block; width:100%; margin:0 auto; text-align:center; }
.boxp h1 { color:#fff; font-size:20pt; font-weight:normal; text-align: center; }
.boxp p { color:#bacee6; font-size:11pt; font-weight:normal; text-align: center; }
.boxp h3 { color: #fff; font-weight: normal;}
.More{ background:#5385c1; color: white; text-decoration: none; padding:10px 20px; }
.More:hover { background-color:#5383c1; }
.boxphoto { display:inline-block; width:15%; min-width:200px; margin:0 auto; padding:10px; padding-top:30px; padding-bottom:30px; text-align:center; margin-top:20px; margin-bottom:40px; border:1px solid #bacee6; margin-left:2%; margin-right:2%;   }
.boxphoto h3 { margin:0 auto;  padding-top:30px; }
.boxphoto p{margin:0 auto; padding: 5px;}
.boxphoto img{ border-radius: 50%; }
.box2p{ background:#fff; display: block; margin:0 auto; }
.pbox { width:95%; margin:0 auto; text-align:center; }
.box2p h1 { color:#5385c1; font-size:30pt; font-weight: lighter; margin-bottom:10px; text-align:center; }
.box2p h3 { color:#5385c1; font-weight:normal; font-size: 15pt;  }
.box2p p { color:#9a9a9a; font-size:11pt; font-weight:normal; margin-bottom: 30px; text-align:justify; }
.photo { display:inline-block; width:40%; min-width:200px; margin:0 auto; margin-bottom:50px; padding:1%; text-align:left; }
h1 {margin: 0 auto;}
.box2p hr { border-top: 1px solid #dbdbdb; margin:0 auto; } 
.last { text-align:center; background:#fff; margin:0 auto;  padding:20px; display:block; } 
.last p { color:#bbb; font-size:10pt; font-weight:normal; margin:0 auto; } 
hr.line { background-color:#dbdbdb; width:80%; margin:0 auto; }
.last .combo { display:inline-block; padding:2%; width:38%; min-width:200px; margin:0 auto; }
.ralign { text-align:right; }
.lalign { text-align:left; }
.calign { text-align:center; }
.social a { text-decoration:none; padding:5px; color:#5385c1; font-size: 14pt;  }
.title { text-align:center; padding-top:50px; padding-bottom:20px;  }
.title p {text-align:center; }

#boxfrom{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#radio0{
	width: 150px;
	margin: 0 auto;
}

.title{
	margin: 0 auto;
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

