#form{
	width:400px;
	height:200px;
	position:absolute;
	top:40%;
	left:45%; 
	margin:-100px 0 0 -100px;
	text-align: left;
}

label { /* Stili per la label */
    display: block; /* Impostiamo la label come elemento blocco */
    width: 150px; /* Larghezza */
}	

#table{
	margin: 0% auto;
}

#sign{
	text-align: center;
	position: absolute;
	
}

input[type="checkbox"] {
  -webkit-appearance: radio; /* Chrome, Safari, Opera */
  -moz-appearance: radio;    /* Firefox */
  -ms-appearance: radio;     /* not currently supported */
}

#login{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	border: solid 1px #0076a3;
	background: #FFFFFF;
}


