@charset "utf-8";
/* CSS Document */

#form{
	width:300px;
	height:200px;
	position:absolute;
	top:30%;
	left:50%; 
	margin:-100px 0 0 -100px;
}

#divform{
	text-align: left;
}

#signup{
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	border: solid 1px #0076a3;
	background: #FFFFFF;
}
