@charset "utf-8";
/* CSS Document */

body { 
	min-width:200px; margin: 0 auto; font-family: 'Raleway', sans-serif;
	background: url("../images/dark-universe-30104-30821-hd-wallpapers.jpg");
	background-size: cover; 
	background-attachment:fixed; 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.banner { height: 400px; display:block; padding-top:70px; }
.topnav { width:80%; min-width:200px; margin:0 auto; display:block;  }
.text { display:inline-block; width:49%; margin:0 auto; }
.text.ttitle a { text-decoration:none; color:#fff; font-size:11pt; font-weight:bold; }
.text.nav { min-width:200px; }
.text.nav a { text-decoration:none; color:#d4e0ef; font-size:9pt; font-weight:bold;  padding:6px; }
.text.nav a:hover { color:#fff; } 
.banner h1 {
    text-decoration: none;
    color: #fff;
    font-size: 40pt;
    font-weight: lighter;
    /* [disabled]width: 80%; */
    /* [disabled]min-width:200px; */
    text-align: center;
    padding-top: 85px;
}
.banner p { color:#d4e0ef; font-size:10pt; font-weight:bold; text-align:center;width:80%; min-width:200px; display:block; margin:0 auto; padding: 20px;  }
.box { background: white; display:block; padding:5%; }
.line { border-left:1px solid lightgray; }
.box3 { margin:0 auto; width:28%; min-width:200px ; display: inline-block; padding: .5% 2.5%; padding-bottom: 50px;}
.box3 h1{ font-weight:normal; font-size:16pt; margin:0 auto;  color:#5385c1; }
.box3 p{ color:#9a9a9a; font-size:11pt; margin-bottom:30px; margin-top:20px; }
.boxp{ background:rgba(83,133,193,0.8); display: block; width:100%; margin:0 auto; text-align:center; }
.boxp h1 { color:#fff; font-size:20pt; font-weight:normal; text-align: center; }
.boxp p { color:#bacee6; font-size:11pt; font-weight:normal; text-align: center; }
.boxp h3 { color: #fff; font-weight: normal;}
.More{ background:#5385c1; color: white; text-decoration: none; padding:10px 20px; }
.More:hover { background-color:#5383c1; }
.boxphoto { display:inline-block; width:15%; min-width:200px; margin:0 auto; padding:10px; padding-top:30px; padding-bottom:30px; text-align:center; margin-top:20px; margin-bottom:40px; border:1px solid #bacee6; margin-left:2%; margin-right:2%;   }
.boxphoto h3 { margin:0 auto;  padding-top:30px; }
.boxphoto p{margin:0 auto; padding: 5px;}
.boxphoto img{ border-radius: 50%; }
.box2p{ background:#fff; display: block; margin:0 auto; }
.pbox { width:95%; margin:0 auto; text-align:center; }
.box2p h1 { color:#5385c1; font-size:30pt; font-weight: lighter; margin-bottom:10px; text-align:center; }
.box2p h3 { color:#5385c1; font-weight:normal; font-size: 15pt;  }
.box2p p { color:#9a9a9a; font-size:11pt; font-weight:normal; margin-bottom: 30px; text-align:justify; }
.photo { display:inline-block; width:40%; min-width:200px; margin:0 auto; margin-bottom:50px; padding:1%; text-align:left; }
h1 {margin: 0 auto;}
.box2p hr { border-top: 1px solid #dbdbdb; margin:0 auto; } 
.last { text-align:center; background:#fff; margin:0 auto;  padding:20px; display:block; } 
.last p { color:#bbb; font-size:10pt; font-weight:normal; margin:0 auto; } 
hr.line { background-color:#dbdbdb; width:80%; margin:0 auto; }
.last .combo { display:inline-block; padding:2%; width:38%; min-width:200px; margin:0 auto; }
.ralign { text-align:right; }
.lalign { text-align:left; }
.calign { text-align:center; }
.social a { text-decoration:none; padding:5px; color:#5385c1; font-size: 14pt;  }
.title { text-align:center; padding-top:50px; padding-bottom:20px;  }
.title p {text-align:center; }

#search{
	width: 410px;
	margin: 0 auto;
}

.wrap-table100{
	margin: 0 auto;
}

.table100{
	width: 1100px;
}

.column1{
	width: 120px !important;
}

.column4{
	text-align: left !important;
}


