<html>
  <link href="../../assets/stylesheets/login.css" rel="stylesheet">
  <title>Travelling</title>
  <h1>Log in</h1>
  <form>
      <div class="container">
          <label for="e-mail"><b>e-mail</b></label>
          <input type="text" placeholder="e-mail" name="e-mail..." required>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Password..." name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>       
        </div>
        <div>
            <a href="#">Sign Up</a>
            <a href="#">Forgot your password?</a>
            <a href="#">Sign in with Facebook</a>
        </div>
  </form>
</html>