<html>
<title>Travelling</title>
<h1>Log in</h1>
<form>
    <div class="container">
        <label for="e-mail"><b>Email</b></label>
        <input type="text" placeholder="e-mail" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" name="psw" required>
        <label for="psw"><b>Password confirmation
                (8 characters minimum)
        </b>
        </label>
        <button type="submit">Sign up</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <div>
        <a href="#">Log in</a>
        <a href="#">Sign in with Facebook</a>
    </div>
</form>

</html>