%div
  .col-md-5.box
    %div
      .field

        = label :review, :rating, 'Votes'
        = select :review, :rating, [1,2,3,4,5]
        %br/
        %br/
        = label :review, :comments, 'Comment'
        = text_field :review, :comments
 
  
