%h2 Edit Review
 
= form_tag place_review_path(@review), :method => :put do
    = render :partial => 'review_form'
    = submit_tag 'Update Review'

= link_to 'Cancel', place_path(:id => params[:place_id])
