%h2 Add a comment
 
= form_tag place_reviews_path, :method => :post do
 
  = render :partial => 'review_form'
  = submit_tag 'Save Changes'

= link_to 'Cancel', place_path(:id => params[:place_id])

  



  

  

  
