<head>
  <link href="../../assets/stylesheets/static_pages/Homepage.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  &nbsp;  &nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/static_pages/home'"><a> &nbsp; </a>Home</button>
      </li>
      &nbsp;
      <li>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/places'"><a> &nbsp; </a>Places</button>
      </li>
      <% if(!current_user.nil? && current_user.is?(:admin)) %>
        &nbsp;
        <li>
          <button type="button" class="btn btn-danger" onclick="window.location.href='/users'"><a> &nbsp; </a>Users</button>
        </li>
      <%end%>
      <% if user_signed_in? %>
        &nbsp;
        <li>
          <button type="button" class="btn btn-danger" onclick="window.location.href='/users/<%= current_user.id%>'"><a> &nbsp; </a>Profile</button>
        </li>
      <%end%>
      <% if user_signed_in? %>
      &nbsp;
      <li>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/places/my_reviews/<%= current_user.id%>'"><a> &nbsp; </a>My Reviews</button>
      </li>
      <%end%>
      &nbsp;
      <li>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/static_pages/help'"><a> &nbsp; </a>Help</button>
      </li>
      &nbsp;
      <!--<li>
        <button type="button" class="btn btn-danger" onclick="window.location.href='#'"><a> &nbsp; </a>Report</button>
      </li>-->
    </ul>
  </div>
  &nbsp;&nbsp;

<% if !user_signed_in? %>
    <button type="button" class="btn btn-danger" onclick="window.location.href='/users/sign_in'"><a> &nbsp; </a>Sign In</button>
<% end %>


<% if user_signed_in? %>
  <div class="d-flex">
    <div class="btn-group">
      <a class="btn btn-danger" href="/users/sign_out" data-method="delete"> &nbsp; Log Out</a>
      </div>
    </div>
  </div>
<%end%>
</nav>


